:root {
    --bg-body: #111316;
    --bg-300: #181b20;
    --bg-button: #5c5bc7;
    --bg-button-400: #0e1013;
    --bg-input: #e8e8e9;
    --bg-hover: #5251b1;

    --color-text-200: #e9e9ea;
    --color-text-300: #bbbbbc;
    --color-text-blue: #0197F6;
    --color-text-logo: #FFFFFF;

    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    margin: auto;
}

.hidden {
    display: none !important;
}

body {
    height: 100vh;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background: var(--bg-body);
    -webkit-font-smoothing: antialiased;

    display: grid;
    justify-items: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;

    position: fixed;
    left: 3.2rem;
    top: 3.2rem;
}

header button {
    background: var(--bg-300);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    max-width: 4.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease-out;
}

header button i {
    padding: 1rem;
}

.ph-list {
    color: var(--color-text-300);
}

.ph-x {
    color: #F64740;
}

header .links {
    display: flex;
    flex-direction: column;
    background: var(--bg-300);
    padding: 1.6rem;
    margin: 1.6rem 0 0 1.6rem;
    border-radius: 8px;
    gap: 1.6rem;
    animation: appear 400ms ease-out;
}

header .ph {
    font-size: 2.4rem;
}

header span {
    font-size: 1.4rem;
    color: var(--color-text-300);
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    width: 100%;
    font-size: 1.3rem;
    color: #e9e9ea;
    background: var(--bg-button-400);
    padding: .6rem 1rem;

    border-radius: 8px;
    text-align: center;
}

header a:hover {
    box-shadow: 0 0 0 1px var(--bg-button);
}

.hidden {
    display: none;
}

main {
    color: var(--color-text-200);
    padding-top: 3.2rem;
}

main .container {
    background-color: #181b20;
    padding: 1.6rem;
    border-radius: 8px;

    display: grid;
    grid-template-areas: 
    "B C"
    "B D"
    "E E";
    align-items: start;
}

form {
    display: grid;
}

label {
    display: flex;
    align-items: center;
    gap: .2rem;
}

form .ph-percent {
    font-size: 1.6rem;
    color: var(--bg-button);
    margin-top: 3px;
}

input::placeholder {
    font-size: 1.5rem;
}

input:focus {
    background: #d3d3d4;
}

select {
    background: var(--bg-input);
    font-size: 1.4rem;

    padding: 1.2rem .8rem;
    border-radius: 8px;

    cursor: pointer;
    max-width: 10rem;
}

select option {
    font-size: 1.6rem;
}

select:focus {
    background: #d3d3d4;
}

form input {
    height: 4.8rem;
    border-radius: 5px;
    font-size: 1.6rem;
    background: var(--bg-input);

    border: none;
    padding: 0 1.2rem;

    margin-top: .8rem;
}

#taxes {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    grid-area: A;
}

main button {
    height: 5rem;
    background: var(--bg-button);
    font-family: 'Poppins';
    font-size: 1.6rem;
    color: var(--bg-header);

    border-radius: 8px;

    border: none;
    cursor: pointer;

    transition: all 200ms ease-in-out;
}

.calculator button:hover {
    background: var(--bg-hover);
}

.calculator {
    width: 32rem;
    

    padding: 1.6rem;

    border-radius: 1.6rem;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    grid-area: B;

    position: relative;
}

.calculator::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background: #2f323670;
}

.calculator div {
    display: flex;
    flex-direction: column;
}

.container-messages {
    width: max-content;
    padding: 1.6rem;
    border-radius: 1.6rem;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    grid-area: C;
    margin-bottom: 2.4rem;
    transition: all 200ms ease-out;
}

.enter {
    filter: opacity(.7) !important;
}

#new-value {
    width: 29rem;
    background: linear-gradient(90deg, rgba(232,232,233,1) 97%, rgba(92,91,199,1) 98%);
    border-radius: 8px;
    padding-left: 1.2rem;
    margin-top: .8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#message {
    width: 29rem;
    background: linear-gradient(90deg, rgba(232,232,233,1) 97%, rgba(92,91,199,1) 98%);
    border-radius: 8px;
    padding-left: 1.2rem;
    margin-top: .8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: all 200ms ease-out;
}

#new-value, #message span {
    font-size: 1.4rem;
    color: var(--bg-body);
}

.card-messages span:nth-child(1) {
    font-size: 1.4rem;
}

.container-messages button {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0 8px 8px 0;
}

.container-messages button:hover {
    cursor: copy;
    width: 50px;
}

.ph-clipboard {
    color: var(--bg-input);
    font-size: 2.4rem;
}

.container-actions {
    max-width: 32.2rem;
    border-radius: 16px;
    padding: 1.6rem;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    grid-area: D;
}

.container-actions span:nth-child(1) {
    font-size: 1.4rem;
    color: #e9e9ea;
}

.container-actions button {
    height: 4rem;
    background: var(--bg-button-400);
    color: var(--color-text-200);
    font-size: 1.3rem;
    padding: 0 .8rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;

    transition: all 10ms;
}

.container-actions button:hover {
    border: 1px solid var(--bg-button);
}


dialog {
    width: 15rem;
    background: var(--bg-button);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 1.2rem .8rem;


    border: none;
    border-radius: 100px;

    margin: auto;

    position: absolute;
    top: 2.4rem;

    transition: all 200ms ease-in-out;

    animation: toBottom 600ms ease-in-out;
}

.ph-check-circle {
    font-size: 2.2rem;
    color: var(--bg-input);
}

dialog span {
    font-size: 1.4rem;
    color: var(--bg-input);
    font-weight: 600;
}

.console {
    margin-top: 2.4rem;
    border-radius: 16px;
    width: 100%;
    padding: 1.6rem;
    grid-area: E;
    box-shadow: 0 0 0 1px #2f3236;
}

.title-console {
    color: var(--color-text-300);
    font-size: 1.6rem;
    font-weight: 400;

    display: flex;
    gap: .4rem;
    align-items: center;
}

.values-console {
    padding: 1rem 0 0 2.4rem;
}

.console span {
    font-size: 1.4rem;
}

.console-color {
    color: #8d8cd8 !important;
}

.exit {
    animation: exit 1s ease-out backwards;
    transition: exit 800ms ease-out;
}

.live-youtube {
    animation: appear 400ms ease-out;
    padding-bottom: 1.6rem;

    position: absolute;
    right: 2.4rem;
    bottom: 2.4rem;

    display: flex;
    flex-direction: column;
}

.live-youtube .ph {
    padding: .8rem;
    cursor: pointer;
    font-size: 1.9rem;
    color: var(--color-text-200);
    align-self: flex-end;
    border-radius: 100%;
    transition: all 200ms ease-out;
    margin-bottom: .4rem;
}

.live-youtube .ph:hover {
    background: #181b20;
}

iframe {
    max-width: 35rem;
    height: 19.8rem;
    border-radius: 10px;
}

@keyframes exit {
    100% {
        opacity: 0;
    }

    0% {
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    50% {
        transform: scale(1.05);
    }
}

@keyframes toBottom {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@media(max-width: 1000px) {

    main .container {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;

        padding: 0 0 1.6rem;
        margin-top: 8rem;
    }

    header {
        position: absolute;
    }

    .links {
        border: 1px solid var(--color-text-300);
    }
}
