body {
  align-items: start;
}

header, form, #header-pdf { 
  display: none;
}

#screen { 
  background-color: transparent;
  box-shadow: none;
  max-height: none;
}

.live-youtube { 
  display: none;
}

::-webkit-scrollbar {
  width: 1px;
}