body {
  align-items: start;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 0;
  background-color: #fff;
  color: #000;
}

header, form, #header-pdf { 
  display: none;
}

#screen { 
  background-color: transparent;
  box-shadow: none;
  max-height: none;
}

.live-youtube { 
  display: none;
}

::-webkit-scrollbar {
  width: 0;
}

#screen::-webkit-scrollbar {
  width: 1px;
}

.tag .ph {
  display: none;
}