@import url(../style.css);
@import url(../styles/theme.css);

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#app-converter {
  background: #181b20;
  padding: 2.4rem 1.6rem;

  display: flex;
  gap: 2.8rem;

  border-radius: 8px;
  margin-top: -20%;
}

.title {
  margin-bottom: .8rem;
  color: var(--color-text-400);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

#sendText {
  padding: 0 3.2rem;
  margin-left: .4rem;
}

#sendText:hover {
  background: var(--bg-hover);
}

textarea {
  min-width: 42rem;
  max-width: 42rem;
  min-height: 18rem;
  background: var(--bg-input);
  padding: 1.6rem;
  font-size: 1.6rem;

  font-family: 'Poppins', sans-serif;
  border-radius: 4px;
}

#tipe-letter {
  min-width: 14rem;
  height: 5rem;
  font-family: 'Poppins', sans-serif;
}

#tipe-letter select {
  font-size: 1.6rem !important;
}

.text-converted {
  min-width: 42rem;
  max-width: 42rem;
  min-height: 18rem;
  background: var(--bg-input);
  padding: 1.6rem;
  margin-top: .8rem;
  border-radius: 4px;

  position: relative;
}

.text-converted span {
  max-width: 95%;
  color: var(--bg-300);
}

.resultText button {
  background: var(--bg-200);
  padding: 1.6rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-out;
  margin-top: 5.6rem;
}

.resultText button:hover {
  background: var(--bg-hover-dark);
}

.copy-text-converted span {
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
}

.copy-text-converted .ph{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;
}

.hidden {
  display: none;
}

.modal-alert {
  background: var(--bg-alert);
  color: var(--color-text-200);
  border-radius: 8px;
  padding: .8rem 1.2rem;
  font-size: 1.4rem;

  position: absolute;
  top: 4.2rem;
  animation: toBottom 200ms ease-out;

}
