@import url(../styles/theme.css);

body {
  display: flex;
  flex-direction: column;
  padding-top: 2.4rem;
}

form {
  min-width: 42rem;
  background-color: var(--bg-300);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 1.6rem 2.4rem;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
  border-radius: 8px;
  color: var(--color-text-200);
}

form div {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

form label { 
  font-size: 1.6rem;
}

form input {
  padding: .8rem;
  font-size: 1.4rem;
  margin: 0;
}

input::placeholder {
  font-size: 1.4rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}

form button {
  font-family: 'Poppins',sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  border: none;
  background-color: var(--bg-button);
  color: var(--color-text-200);
  padding: 1.2rem;
  cursor: pointer;
  border-radius: 8px;
  transition: all 200ms ease-out;
}

form button:hover {
  background-color: var(--bg-hover);
}

#header-pdf {
  min-width: 43.6rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .4rem;
  justify-content: end;
  padding: .8rem;
  background-color: var(--bg-300);
  border-radius: 8px 8px 0 0;
}

#header-pdf button {
  border: 0;
  color: #e9e9ea;
  padding: .8rem 1.6rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: .4rem;
  border-radius: 4px;
  transition: all 200ms ease-out;
}

#header-pdf button:nth-child(2) {
  background: var(--bg-200);
}

#header-pdf button:nth-child(2):hover {
  background: var(--bg-body);
}

#header-pdf button:nth-child(3) {
  background: var(--bg-button);
}

#header-pdf button:hover:nth-child(3):hover {
  background-color: var(--bg-hover);
}

.number-tags {
  color: var(--color-text-200);
  font-size: 1.3rem;
  margin-right: .8rem;
}

strong {
  font-size: 1.6rem;
}

#header-pdf i {
  font-size: 1.8rem;
}

#screen {
  max-height: 44rem;
  background-color: #e9e9ea;
  min-width: 850px;
  display: grid;
  grid-template-areas: "A B C";
  gap: 1px;
  padding: .8rem;

  overflow-y: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 2.4rem;
}

.tag {
  font-size: 1.35rem;
  padding: .8rem;

  display: flex;
  flex-direction: column;
  gap: .8rem;
  box-shadow: 0 0 0 1px #a0a1a2;
  transition: all 400ms ease-out;
  position: relative;
}

.tag .ph {
  font-size: 1.9rem;
  padding: .4rem;
  position: absolute;
  bottom: .4rem;
  right: .4rem;
  cursor: pointer;
  transition: all 200ms ease-out;
  border-radius: 4px;
}

.tag .ph:hover {
  color: var(--bg-alert);
}

.tag .title {
  max-width: 30rem;
}

.strong {
  font-weight: 500;
}

#tag4 {
  background: var(--bg-button);
}